body{
   text-align:center;
  background-image: url('images ms/bgimg.png');
  background-color:black;
  color:white;
             background-size: 400px;        
             background-repeat: no-repeat;  
             background-position: top right; 
             background-attachment: scroll;
}
nav a{
   text-decoration: none;
   color:greenyellow;


}
.navig{
   color:white;
}
.navig:hover{
   color:black;

}
.navig:active{
 color:white;
}
button{
   border:none;
   background-color:black;
   border-radius: 3px;
   color:white;
   padding: 10px 20px;
   font-size: 1rem;
   font-weight: bold;
   transition:0.2s;


}
button:hover{
   background-color: white;
   color:black;
   padding:10px 20px;
   cursor:pointer;

}
button:active{
   background-color: rgb(1, 1, 1);
   color:white;
   padding:10px 20px;
   cursor:pointer;
}

button {
   border: none;
   border-radius: 6px;
   padding: 10px 25px;
   font-weight: bold;
   cursor: pointer;
   margin: 5px;
   transition:0.2s;
}


#linkedin {
   background-color: #0a66c2;
   color: white;
}
#linkedin:hover {
   background-color: #084d91;
  
}
#linkedin:active {
   background-color: #072f5f;
   
}

#instagram {
   background-color: #3d132b;
   color: white;
}
#instagram:hover {
   background-color: #9b2d6e;
   transform: scale(1.05);
}
#instagram:active {
   background-color: #6d1e4a;
   transform: scale(0.95);
}


#mail {
   background-color: #e63946;
   color: white;
}
#mail:hover {
   background-color: #b51c2a;
   transform: scale(1.05);
}
#mail:active {
   background-color: #7a141c;
   transform: scale(0.95);
}


#github {
   background-color: white;
   color: black;
   border: 1px solid black;
}
#github:hover {
   background-color: black;
   color: white;
   transform: scale(1.05);
}
#github:active {
   background-color: #333;
   color: white;
   transform: scale(0.95);
}
#heading{
   
   
   font-size: 4rem;
   font-weight: bold;
   font-family:'Times New Roman', Times, serif;
   color:white;
}
#name{
   color:rgb(0, 255, 42);
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size:5rem;
   

}
#m{
   color:rgb(255, 0, 0);
}
#mass{
   color:rgb(165, 248, 255);
   font-size:2rem;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#home {
   display: flex;
   align-items: center;       
   justify-content: flex-start;
   padding-left: 100px;       
   height: 90vh;             
   text-align: left;
}
#align{
   text-align: left;
   color:greenyellow
}


.charset-design .container {
    display: flex;            
    flex-wrap: wrap;          
    justify-content: center;  
    gap: 30px;                
    padding: 40px 20px;       
}

.charset-box {
    background-color: #000000;
    border:2px solid transparent;
    border-radius: 10px;
    padding: 15px;
    width: 200px;             
    text-align: center;
    
    transition: transform 0.3s, box-shadow 0.3s;
}

.charset-box:hover {
    transform: translateY(-10px);
   border-color: white;
   
   
}

.charset-box img {
    width: 180px; 
    height: 200px; 
    border-radius: 10px;
    margin-bottom: 10px;
}

.charset-box h3 {
    margin-bottom: 5px;
    color:white;
}

.charset-box .one-liner {
    font-size: 0.9rem;
    color:white;
}
#highlights{
  text-align: left;
  color:rgb(96, 247, 255);
  padding:90px 200px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;


}
#about{
   font-size:21px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding:90px 50px;
}
#social{
 padding:100px 100px;
}
#contact{
 text-align: center;
 color:rgb(17, 240, 233);
 padding:100px 100px;
}
footer{
   color:red;
}